[2020-08-10 00:04] kimsagro1 opened #21 "Question - How is the single table defined?"
Looking at the various examples, I'm curious how you table is defined.

Is this correct?

[code]

[2020-08-11 18:06] tywalch commented on #21
Yeah that eyeballs right, though something like this would be a great add to the readme! Do you have issues when using the above definition?

[2020-09-27 22:11] tywalch commented on #21
If you have any further questions don't hesitate to ask!

[2020-09-27 22:11] #21 closed

[2021-06-24 10:58] kujtimiihoxha opened #61 "Are there any plans to support transactions"
Thanks for the library and the work you have done here 👍

I wanted to see if I can use this library for my use case but there are cases where I need to use [transactions](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/transaction-apis.html). Is there any way I can do that with the library?

[2021-06-24 11:01] kujtimiihoxha commented on #61
Oh I think I could just use `.params()` and  build the transaction items manually 🤦

[2021-06-24 11:18] #61 closed

[2021-06-24 11:48] kujtimiihoxha opened #62 "Missing License"
The library is missing a license that permits use of it in other products.

The reason I am asking for this is that I would like to use this in a project and probably contribute to it (I am looking into additional update operations), but reading through the [GH docs](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/licensing-a-repository

[2021-06-24 12:57] tywalch commented on #62
Updated, I had been meaning to do that 👍

Let me know if you have an issues preventing you from doing what you need with the library, I appreciate the Issues you've made.

[2021-06-24 12:57] #62 closed

[2021-06-24 13:00] kujtimiihoxha commented on #62
@tywalch thanks for the quick response, I do not see the update is it in a branch?

[2021-06-24 13:03] tywalch commented on #61
There are tentative plans to make it a more formal method. There are a few things slotted before that, namely complex structure support, a new update/patch api, and a lot of clean up/refinements.

[2021-06-24 13:06] tywalch commented on #62
@kujtimiihoxha How about now? I'll be sure to get this also out on NPM at the end of the day 👍

[2021-06-24 13:07] kujtimiihoxha commented on #62
@tywalch thanks a lot :). I will see if I can wrap my head around the implementation and try to add `Add/Remove/Subtract` functionality for the update/patch methods 👍

[2021-06-24 14:26] tywalch commented on #62
Regarding `Add/Remove/Subtract` I have local PR that I've been chipping away at to support a different syntax than the current `set` syntax. The code around `update` is unfortunately a bit coupled with specifically `set` operations so some of that work is decoupling those parts and build something that is a bit more extendable. Not to say a lot of it isn't salvageable, but it's a bit of a bigger j

[2021-07-21 15:17] garretcharp opened #70 "Update Expressions with add/sub & map/list types"
Hello, I see this in the readme:
[code]

Out of curiosity do you have any ETA for these? Would be very useful to have, I tried to go through and see if I could add them myself but it was a bit hard to follow the code. If you are curious number 1 priority IMO is add/subtract because the any type works fine for now.

Thanks

[2021-07-21 15:18] garretcharp commented on #70
Also unrelated to this issue specifically but you should add a way to sponsor the project I would for sure do it because so far this has been a very useful package.

[2021-07-23 21:55] garretcharp opened #71 "Allow return values on patch/update request"
Currently, whenever doing a patch or an update the response is null even when I set the params to have ReturnValues set to "ALL_NEW". I would like for the library to handle return values and parse the items for me.

[2021-07-23 22:19] tywalch commented on #71
This is something I've been wanting to add support for, I'll prioritize this 👍

[2021-07-23 22:31] tywalch commented on #70
I am nearly done with it actually 👍 There was a lot of related code to be cleaned up and refactored to lay the groundwork for other update methods and complex attribute types.

Add/Subtract/Append/Remove/Delete will be coming early next week, complex types will come sometime afterward. If you're interested, let me know and I'll post more about the upcoming syntax when I'm at my laptop next.

[2021-07-23 22:31] tywalch commented on #70
I will look into this 👍

[2021-07-23 23:32] garretcharp commented on #70
I would appreciate that if you dont mind.

[2021-07-26 04:45] tywalch commented on #70
I am now in the stage of writing tests (a lot of ground to cover), but here is the beginnings of those tests so you can see the methods in action:
https://github.com/tywalch/electrodb/blob/improvement/chain-attribute-abstraction-improvements/test/connected.update.spec.js

Basically when this branch is merged there will be 8 methods added to the `update` chain:
method | description
:------  | -----

[2021-07-26 20:17] garretcharp commented on #70
That looks good, happy to have that coming soon. Looking through the tests it doesn't seem you have any testing the "data" method could you explain more what that is for?

[2021-07-27 00:02] tywalch commented on #70
The `data()` method will allow for improved type support and make some dynamic queries easier to perform. I pushed some tests to the feature branch since your last message.

[code]

Where this will be a big game changer is with the attribute types `set`, `map`, `list`, and `any`. The `where()` method already allowed for complex types, but the `data()` method will also support complex types. What t

[2021-07-29 06:39] garretcharp commented on #71
Another thing you might think about adding with this too is support for a parse method where you give it an item from Dynamo and it returns the parsed object using all the getters setup.

[2021-07-30 02:50] tywalch commented on #70
As an update, I definitely underestimated some of the nuance of this change. I am wrapping it up, but I still need to add further tests to be sure it'd be a solid release. Thanks for being patient 👍

[2021-07-30 02:56] garretcharp commented on #70
No rush at all totally understandable. Thanks for the work you put into this 😄

[2021-07-31 00:03] tywalch commented on #70
Feel free to make another PR for map/list/set but the new update methods are now released under `1.2.0` 👍

[2021-07-31 00:03] #70 closed

[2021-08-08 23:02] tywalch commented on #71
Small update on this: Unless I find a critical issue, this will be in a PR tomorrow along with complex object support (map, list, set) 👍

[2021-08-08 23:14] tywalch commented on #71
Syntax will use Query Option,`response`, with values: `"default" | "none" | "all_old" | "updated_old" | "all_new" | "updated_new"`

Use like this:
[code]

[2021-08-09 21:55] garretcharp commented on #71
That great to hear thanks for the update

[2021-08-09 22:49] garretcharp opened #74 "Ability to parse items (DynamoDB Streams)"
Looking to start using dynamodb streams would be nice to be able to parse the items it sends me using electrodb. Could be something on the entity level and service level. For example maybe I only really care about one item type for a specific operation that occurred so I do `entity.parse(dynamoItem)` and it could return the parsed item if it is of that entity type or null/error if not. Then on the

[2021-08-10 02:21] #71 closed

[2021-08-10 03:14] tywalch commented on #74
This was an easy add because there was already a method that did this cleanly. I just added a PR that adds types to a new method, `parse()`.

[2021-08-11 13:45] tywalch commented on #74
This was not done correctly, I should not have rushed this. Apologizes Garret

[2021-08-11 14:35] garretcharp commented on #74
No worries

[2021-08-11 21:18] tywalch commented on #74
I merged this PR, I will let you close the issue when you've had time to work with it. Note that the `parse` method expects a full dynamodb response, though you can of course "fool" it by passing an object with an `Item`, `Items`, or `Attributes` property.

https://github.com/tywalch/electrodb/pull/76

[2021-08-12 00:38] garretcharp opened #77 "Ability to make composite attribute from map item"
I would like to be able to make an index that takes fields from a map item. For example say I have an item that belongs to a user, maybe a comment or something like that. I store the item in the comment entity as a partial of the user entity so I store it as a map, but trying to make an index of `user.id` does not work currently.

[2021-08-13 00:46] garretcharp commented on #74
From my small little test, it seems to be working as expected so going to close this now.

[2021-08-13 00:46] #74 closed

[2021-08-23 01:18] tywalch commented on #77
I did a lot of thinking about how complex objects might play a role in indexes. In the end, I think allowing for nested attributes to be used in composite keys opens the door to a lot of complexity and ultimately might hurt DX after implementing checks and validations on all the edge cases. For now, I'd like to keep composite attributes simple, even if that means a bit of denormalization on the it

[2021-09-07 13:10] kujtimiihoxha opened #81 "Allow sparse indexes"
Is there a way to allow sparse indexes?

If an attribute of a composition key from a secondary index is missing we should still allow inserting/updating an entry this would just create the item without the item being also present in that index

https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/bp-indexes-general-sparse-indexes.html

[2021-09-08 14:49] kujtimiihoxha commented on #81
Thanks

[2021-09-08 14:49] #81 closed

[2021-10-13 22:20] joyrexus opened #85 "Upserts?"
Greetings BDFL of Electrodb!

Curious if Electrodb supports "upserts" out-of-the-box (create if not exists, otherwise patch/update).

We're looking to create an item if it doesn't exist with all of the same attributes (including those used in the PK and SK) that would be created with a `put` or `create` ... otherwise to just update the item (viz., all attributes except for those used in the PK or

[2021-10-14 04:36] tywalch commented on #85
Howdy!

ElectroDB uses DynamoDB's `UpdateItem` under the hood when calling `.go()` on both the `update()` and `patch()` methods.

I put together a response in the electrodb playground here: https://tinyurl.com/electrodb-ticket85

In a nutshell, I'm working on a patch to include the PK and SK composite attributes in updates. This should address what you're seeing. Feel free to modify the playground

[2021-10-18 20:16] joyrexus commented on #85
Appreciate your efforts on this!

Hmm. I tried testing with the earlier patched version as well as the most current version and found that update operations were only updating _existing_ items, but didn't persist new items when the given key wasn't found.

I was using the [same code as before](https://gist.github.com/joyrexus/7f73ccd72693ed99b5a76fe0315bb2ce#file-upsert-js-L51-L94) to test, but wi

[2021-10-18 22:02] tywalch commented on #85
I see the issue. My update didn't add the Entity Identifiers (`__edb_e__` and `__edb_v__`) to the update, so while it made the record, the `get` (and `query`) methods weed the record out. You can see this if you adding the [query option](https://github.com/tywalch/electrodb#query-options) `ignoreOwnership` to equal `true` (note: I don't believe that option is in `0.11.1`)

[2021-10-21 23:34] joyrexus commented on #85
Tested it out and looks like upsert functionality with `update` is now working as expected. Thanks again!

[2021-10-21 23:34] #85 closed

[2021-11-01 20:51] harlowk opened #90 "Batched results TS typings are flipped."
The `BatchGet` two-dimensional array with the results of the query and any unprocessed records appear to be flipped; the actual data returned is as documented (`[results, unprocessed]`) however the typings show the opposite (`[unprocessed, results]`).  So, to retrieve the correct data I have to cast the `unprocessed` element to the `< ResponseItem >[]`.

e.g. of how I am getting around this:
[code

[2021-11-02 03:45] #90 closed

[2021-11-17 21:57] harlowk opened #97 "Error from validation failures."
if the `getValidate(value)` in src/schema has `!valid` - can you throw the validationError? I'm losing the error properties im throwing.

[code]

[2021-11-24 03:51] #97 closed

[2021-11-24 03:53] tywalch commented on #97
Implemented in 1.6.0

[2021-11-27 03:09] moltar opened #99 "Add support for AWS SDK v3 (`@aws-sdk/client-dynamodb`)"
Would be great to have support for AWS SDK v3.

[code]

Thanks!

[2021-11-27 03:34] tywalch commented on #99
I'll begin taking a look at this, thank you. As a stop gap, the .params() might be useful in the short term.

[2021-11-27 05:16] tywalch commented on #99
Something like this should also work in there interim:

[code]

[2021-11-27 05:47] moltar commented on #99
Thanks Tyler, I'll give it a shot!

[2021-11-30 18:48] tywalch commented on #77
@garretcharp Im going to close this ticket for now but please let me know if you have any further issues or suggestions 👍

[2021-11-30 18:48] #77 closed

[2022-02-16 01:37] demsey2 opened #106 "debugging/logging"
Is there any way to enable a debug mode or some kind of logging so I can see all the expressions sent to DynamoDB?

[2022-02-16 01:57] tywalch commented on #106
Hey @demsey2, thank you for the question. I have considered including a “logger” property on the model to allow users to inject a logger for printing parameters, logging warnings and errors. Would that be something that could fit your needs?

[2022-02-16 21:29] demsey2 commented on #106
yes that would help a lot, not sure if that should be implemented on the model property or maybe on entity or service level

[2022-02-16 22:16] tywalch commented on #106
I'll keep this thread updated with the status of this work 👍

I should mention (for something that could help in the short term), you can always use the ["params"](https://github.com/tywalch/electrodb#params) method to see the retrieve for a given query. This might not fit all scenarios, but can definitely help in one-off situations.

[2022-02-17 00:39] demsey2 opened #107 "Immutable collections"
Before I explain the concept of "Immutable collections" let me just say thank you for writing this library. I investigated a couple of others and this one is the best I found. I only tried some bits and went through the docs but so far it is great.

I use the "Immutable collections" concept in a few of my projects and they work well so I was wondering if I can get your feedback and see if that wou

[2022-03-05 02:31] ShivamJoker commented on #99
Any updates on this?

[2022-03-12 21:20] tywalch commented on #99
I have been traveling frequently for the past few weeks and haven't had a chance to get this in. This is still on my radar and I am hoping to have more news on it soon.

[2022-03-14 14:31] tywalch commented on #106
@demsey2 checkout release 1.7.0 and let me know if you have any questions 👍

[2022-03-16 01:41] demsey2 commented on #106
that is perfect, thanks a lot

[2022-03-16 01:41] #106 closed

[2022-03-19 18:33] tywalch commented on #99
@ShivamJoker @moltar I have just [merged and published](https://github.com/tywalch/electrodb/pull/109) v3 support in version `1.7.0`! Please let me know if you have any issues when using the v3 client and I will make it priority to resolve your issues 👍

[2022-03-19 18:40] ShivamJoker commented on #99
Thanks a lot I'll try it.
Also I am using CDK so should I just make a table and your library will add GSI based on schemas?

[2022-03-21 03:53] moltar commented on #99
Nice one @tywalch!

I still haven't had a chance to try this package out 🙈

Maybe this will give me a boost!

[2022-03-21 03:57] moltar commented on #99
Btw, should `@aws-sdk/lib-dynamodb` be a peer dep?

Because this will increase bundle sizes for everyone, even if they do not use the v3 SDKs.

These v3 SDKs are quite bloated, unfortunately!

https://bundlephobia.com/package/electrodb@1.7.1

![screenshot-20220321T105644-Fqy4cKb2](https://user-images.githubusercontent.com/491247/159203422-b8bf32bf-7451-473c-bdaa-fbaf85b58cda.png)

[2022-03-21 04:02] ShivamJoker commented on #99
@moltar so are there any benefits of using V3 with electrodb? In terms of performance

[2022-03-21 05:48] moltar commented on #99
Pros:

 - Future-proofing. The end of support for v2 will probably be announced soon, since v3 has been out for a while. And other languages had already EOS announced.
 - Native TypeScript support, without `@types/*`
 - It is mostly codegen'ed from standard definitions, which ensures that all APIs are compatible
 - Modular (use only what you need)
- v2 is a [heavy dep](https://bundlephobia.com/pac

[2022-03-25 22:40] thdxr opened #111 "where clauses loses query typing"
In the following example:
[code]

There is a type error on `response` because it loses the fact that it's an update query.  Removing the where clause fixes

[2022-03-27 19:08] tywalch opened #114 "Default values in nested attributes"
Currently, for nested "map" attributes, the attribute property `default` is only evaluated when its parent is provided by the user via a `put` or `create` method.  In its current implementation, a user can defined an empty object as a default value on their map attribute, however that will not cause a the object to then be populated with the default values of the nested attributes on that "map". T

[2022-03-27 19:09] tywalch commented on #111
Great find, you can verify/check out the new typing [here](https://electrodb.fun/?#code/JYWwDg9gTgLgBAbzgUQHY2DAnnAvnAMyghDgCIBTAGwoGMZiATAIzIG4AoD2iVAZ3gwAFsFQBzOAF44qCgHcU6TFgAUHOInUa4ICI2oAuTdu0Ul2I2WGixZADRaTANwpQ+wXpYCM9x9r6uTsC0FJbW4gCGYGBkfrgOJhEwDMDMAK4wFHxGCH4awIw5edrYYKHkAlA2viYa8cU8+kW1JVhllqhpIMyuNbW4cQnaovoAHlnNtVB00IXGLXBgANaTC4TA1HNky31rPOAQ7plGANpkBWQAusV1Qy18K-NrBBtUWw+7C-uQR+Un12

[2022-04-06 15:40] #114 closed

[2022-04-15 19:33] #111 closed

[2022-04-15 19:33] #99 closed

[2022-05-05 01:38] jpmtrabbold opened #119 "Local Secondary Indexes"
Hey guys, great library! Any plans on supporting LSI's?

[2022-05-12 07:16] demsey2 opened #120 "Partition key without composite"
I am trying to create a simple index to get a collection of all records (this will be used with pagination). I don't want to use scan as it is expensive with large tables.

My index looks like that:

[code]
then I just want to call
[code]
but it looks like that is not possible.

I use typescript so:
- composite is required on pk and it can't be an empty array
- if I have a composite key then I nee

[2022-05-12 22:39] demsey2 opened #121 "Service logger doesn't work"
The following logger setup doesn't work
[code]
The only way to get looger working is
[code]
or pass to each entity config
[code]

[2022-05-14 01:32] #121 closed

[2022-05-14 21:05] tywalch commented on #119
Hey @jpmtrabbold! I assume the issue you ran into was the validation on key field names? I started a feature branch (https://github.com/tywalch/electrodb/pull/124) to help with this. I will need to add more tests but it is a pretty minor change to implement. Thank you for creating a ticket!

[2022-05-14 21:21] jpmtrabbold commented on #119
@tywalch yeah, I didn’t find a way of doing LSI’s. Sounds good! Thanks for such a well thought off library!

[2022-05-14 22:08] tywalch commented on #119
When this change is in, there won't be any difference in how you implement and map LSIs vs GSIs 👍

[2022-05-15 17:01] tywalch commented on #120
I merged and published 1.8.2, it should address your need here

[2022-05-15 17:03] tywalch commented on #120
Whoops, replied to the wrong issue. This should be mixed once 1.8.3 is merged

[2022-05-15 17:03] tywalch commented on #120
Found here: https://github.com/tywalch/electrodb/pull/123

[2022-05-16 00:14] tywalch commented on #120
Merged

[2022-05-16 00:14] #120 closed

[2022-05-18 00:31] demsey2 commented on #120
thanks @tywalch, that works great the only thing is the type Query, it requires composite: CompositeAttributes so I need to call
[code]
if we could change that to composite?: CompositeAttributes or make it optional only when there are no composite fields then I don't have to pass that empty object and just call .all()
[code]

[2022-05-18 14:24] #119 closed

[2022-05-26 02:14] jpmtrabbold opened #125 "keys in lowercase"
hey guys. PK's and SK's content is being written in lowercase to dynamodb - can we have an option to disable that?

Here we have key templates like:
`template: 'processId:${processId}:sourceProcessStepId:${sourceProcessStepId}',`

[2022-05-26 02:32] jpmtrabbold commented on #119
@tywalch I updated to the latest version, but it seems like you didn't update the typescript definitions, so typescript is still complaining when I do a `new Entity(...)`.

Here's the `Schema` type that still requires a `pk`:

![image](https://user-images.githubusercontent.com/16899648/170403465-05d56451-6871-4494-a01e-e11bf97c7ac4.png)

[2022-05-29 14:49] tywalch commented on #119
Hi @jpmtrabbold! Yes it's still necessary to map the PK in your model, the backing index type (LSI vs GSI) is opaque to ElectroDB so it only knows what is mapped in the model. In the case of your LSI, it would be the same PK definition as your table.

Let me know if that helps, or if you have any cases where things don't update correctly; the PR has tests that check operations against an LSI.

[2022-05-29 15:03] tywalch commented on #125
Hey @jpmtrabbold yes, there is an option for casing on the model, more info here: https://github.com/tywalch/electrodb#index-casing

[2022-05-30 21:28] jpmtrabbold commented on #119
I see! Yeah man it worked a charm, thank you!

[2022-05-30 21:28] jpmtrabbold commented on #125
wow - I must be very bad at searching, I swear I looked for it! Thanks man

[2022-06-01 20:40] #125 closed

[2022-06-10 12:15] calebwilson706 opened #126 "Error in `parseModel` -> `normalize indexes`"
<img width="804" alt="Screenshot 2022-06-10 at 13 11 43" src="https://user-images.githubusercontent.com/71669491/173061711-e67d5bd1-98d0-42e8-b49b-f6a0642db185.png">

We are getting this error message when trying to put an item in to our database, from some debugging and logs we can see that when looping through the access patterns that there are extra access patterns after our defined ones which

[2022-06-10 12:39] tywalch commented on #126
Hi @calebwilson706

Thank you for reaching out! Does your model throw when using the [electrodb playground](https://electrodb.fun)? If so, would you be able to provide a playground like that demonstrates the issue? If not, would you be able to provide the version you are using, and a model that causes this exception?

[2022-06-10 13:26] calebwilson706 commented on #126
We are on version 1.8.4

[2022-06-10 13:29] calebwilson706 commented on #126
Our model is as follows (i have taken out any attribute which is not used for our indexes)
[code]

[2022-06-10 13:31] calebwilson706 commented on #126
We have this defined in a shared folder and then we import it into our lambdas directory - would this make a difference

[2022-06-10 22:21] tywalch commented on #126
@calebwilson706 I took the steps to reproduce, installing electrodb at the version you specified (`npm install electrodb@1.8.4`) and made a file with your model above, but was unable to  recreate the exception you shared. In looking at the error stack and its associated code, I would expect this to be throwing when your model is loaded.

In the cloudwatch logs you shared it looks like the indexes

[2022-06-13 10:35] calebwilson706 commented on #126
i can update these 2 places if you would like, i'm not seeing any guide on contributing

[2022-06-29 00:42] jpmtrabbold opened #130 "empty composite key"
Hey @tywalch, first of all, great to know that SST is using ElectroDB as their tool of choice.

I've been trying to use an empty composite primary key like this:

<img width="210" alt="image" src="https://user-images.githubusercontent.com/16899648/176327118-a5e7a184-1f98-43cc-96bb-1f53c5428a18.png">

But it gives me this message: `instance.indexes.primary.pk.composite does not meet minimum length

[2022-06-29 00:44] tywalch commented on #130
Hi @jpmtrabbold!

This was recently requested and the latest version should allow for an empty array here. Can you verify the version you are using?

[2022-06-29 00:49] jpmtrabbold commented on #130
Thanks @tywalch I'll try right away! Worth mentioning that the ElectroDB playground is probably not in that version then, because it's giving the error

[2022-06-29 00:50] tywalch commented on #130
Thank you I will look into that, and roll that change into criteria to close this ticket.

[2022-06-29 02:30] jpmtrabbold commented on #130
just so you know, the new version worked on my project - thanks!

[2022-07-06 21:22] tywalch commented on #130
@jpmtrabbold The playground has been updated, I am going to close this ticket, but feel free to reopen if you have any other issues 👍

[2022-07-20 22:10] aisflat439 opened #140 "Feature Request: Simple example docs"
**Describe the bug**
This is more a feature request than a bug.

**ElectroDB Version**
[code]

**ElectroDB Playground Link**
I'm not convinced this link is useful [but here you have it](https://electrodb.fun/?#code/PQKgBAsg9gJgpgGzARwK5wE4Es4GcA0YuccYGeqCALgUQBYCG5YA7llXWAGbZwB2MXGBDAAUKKwBbAA5QMVMAG8wAUT5V2AT0IBlTADcsAY1IBfbhiiSwAIkRwjVSzABGNgNzijUPrgVUGFwRSAF5bTShUDAB9AKC4aL4GSTgPcVAwABUGXABrITU

[2022-07-20 22:22] tywalch commented on #140
Hi @aisflat439!

I'm not at my desk at the moment but when I am back I'll write more of an in-depth reply. In the interest of helping you sooner, [here](https://electrodb.fun/?#code/PQKgBAsg9gJgpgGzARwK5wE4Es4GcA0YuccYGeqCALgUQBYCG5YA7llXWAGbZwB2MXGBDAAUKKwBbAA5QMVMAG8wAUT5V2AT0IBlTADcsAY1IBfbhiiSwAIkRwjVSzABGNgNzijUPrgVUGFwRSAF5bTShUDAB9AKC4aL4GSTgPcVAwABUGXABrITUNKk1hMW9ffzhksDC+OBZVdS0AClEwJTb2

[2022-07-21 00:44] tywalch commented on #140
I'm back at my desk now, it looks like you're hoping to learn more about how you might query across multiple entities. With ElectroDB this functionality to accomplished via [collections](https://github.com/tywalch/electrodb#collections). Collections allow you to establish a PK interface across multiple entities and query across all entities that implement the same composite key. This maintains Ele

[2022-07-21 13:39] aisflat439 commented on #140
Thanks for all this. I think I was finding the right path, based on what you sent. I'll have to work through it a bit more but Collections seem to be exactly what I'm looking for, and where the docs were taking me.

Here's what I'm noticing as someone who's newer to single table design and still newer to electrodb.

When I think about a table currently I'm thinking about examples from Rick's talks

[2022-07-21 14:56] tywalch commented on #140
Hey @aisflat439! A few things:

1. In your actor/role example I wanted to correct the line you had that looked like this:

[code]

When performing a `query` the methods that follow expect an object with `name` and optionally `movie` properties. In your example you call `.name()` and `.movie()` which isn't quite ElectroDB syntax. [Here is an example of how that would look with working ElectroDB syn

[2022-07-25 16:17] aisflat439 commented on #140
Hey Tyler. I'm trying to work at this a bit more and get comfortable. Can you please validate if my understanding is correct?

I have three entities `[Redditor, Post, Comment]`

I want a query `getPostById`. In order to do this I create a service in ElectroDB that includes the Post and Comment entities.

`const PostService = new Service({ PostEntity, CommentEntity });`

This should generate

[code

[2022-07-25 19:19] aisflat439 commented on #140
Well I've got something wrong 😄. I'm getting an sk1 and the pk isnt' converting over. More to read.

[code]

[2022-07-25 19:28] tywalch commented on #140
I recreated your playground [here](https://electrodb.fun/?#code/JYWwDg9gTgLgBAbzgUQHY2DAngGhezLASRgFMQ8BlUqAN2AGNS4BfOAMyghDgCJSANqQYwuAEwBGvANwAoWQwioAzvCikxYzNDgBeOKlIB3fBmwAKWXERXrcEBDGCAXDbt3aNZcCWveARl4cW3dSAmw-dU1tKCCQu2UaeiZIjS0YOPcWYPcAQxhRYAkAVzJlVwR46yj06CIxCqq7bDBSP1UoYFQAc0z3O3UAR2LgKNdRYtIc-urSXLEAeVQBLHGoSemszbtUXJA2txm4FoPeDq7e7fchkbHj9amm2fmllbWNuCaWeOz4rqcAB6kcqHdyQVQgypHOCKARCES+

[2022-07-25 19:34] aisflat439 commented on #140
Hmm... It must be something with the builder then. In GraphQl I'm geting
[code]

Thanks again for all this help. I'll have to look at that getpost example you created. It's neat that I can split it up into post and comment like that.

[2022-07-25 19:50] tywalch commented on #140
That is an error from Amazon (the docClient), looks like the table you're using doesn't have the GSI you're mapping to? You configured ElectroDB to use an index called `gsi1pk` which I assume is wrong because that is the same name you gave your pk on that index

[2022-07-25 21:47] aisflat439 commented on #140
I'm not exactly sure I understand that comment.

My experience hand writing these queries I'd write something like this:

[code]

In my table I have this:
![image](https://user-images.githubusercontent.com/3719502/180864715-53bab050-548f-4777-a91e-4bfb59466970.png)

So I'm creating the data with the correct `gsi1pk` and `gsi1sk`. When I write this query however:

[code]

 the params I get are:

[c

[2022-07-25 22:30] tywalch commented on #140
A few things:
1. In the playground you shared, you mapped your postComments index to `gsi1pk` not `gsi1`
[code]
This explains your error:
[code]
I believe your index is called `gsi1` based on what you stored above.

2. The example I provided above (after switching the index name from `gsi1pk` to `gsi1`) the query parameters come out to this:
[code]

This looks correct to me, it sounds like your co

[2022-07-25 22:43] aisflat439 commented on #140
Of course you are correct. I didn't fully understand the role that the `index` and `collection` keys play. This is a little exacerbated by not fully understanding the setup of SST's Ideal Stack

[code]

In my `PostEntity`
[code]

In my `CommentEntity`
[code]

I'm continuing to practice these concepts. Thanks again for being so helpful. Feel free to ignore me any time as I work through this. I'll n

[2022-07-30 21:35] tywalch commented on #140
Hey @aisflat439!

I hope modeling is going well for you, I am going to close this ticket for the sake of clean up, but feel free to open another if the need arises!

[2022-07-30 21:35] #140 closed

[2022-08-03 16:32] anselm94 opened #141 "Need a simple and accessible documentation site"
Hello 👋🏼! This is going to be more of a feature request. I tried `electrodb` for a pet project and really loved this library to achieve 'Single Table Design'. Thank you so much!

However, as a new comer, though I could get started with `electrodb` without much hassle, I had trouble navigating the long [README](https://github.com/tywalch/electrodb/blob/master/README.md) page especially during refer

[2022-08-09 13:58] asquithea opened #142 "Support/Query: Complex/Unnamed types makes Typescript use tricky"
_New to electrodb, so apologies if this is obvious or just fundamentally can't be improved._

I'm finding that the types created by electrodb are quite hard to work with in practice in standard Typescript with strict mode enabled and all the recommended eslint rules turned on:

- type signatures are complex and unpredictable
- named types really needed for function signatures, but hard to get

###

[2022-08-09 14:26] asquithea commented on #142
Subsequently found `EntityItem` and friends, which helps quite a bit - eliminates the mapping issue.

I missed this in the docs - found it indirectly through the repo examples.

Leaving this ticket open anyway for the moment in case you have any advice or thoughts on fleshing out the typescript examples in the docs - might just be a case of taking the existing example typescript code in the repo a

[2022-08-10 23:33] aisflat439 opened #143 "Issue with link to Playground"
**Describe the bug**
The link does not work on line 1468 in the readme.

**Expected behavior**
The link works

**Errors**
[code]

**Additional context**
I'd fix this, but I'm not exactly sure what model you want to show this feature. Sorry :(

[2022-08-11 01:17] tywalch commented on #143
[Fixed!](https://github.com/tywalch/electrodb/commit/9b8536fc813ab6c60972807d4c5cf5d7bedbb93e) Thank you so much!

[2022-08-11 01:17] #143 closed

[2022-08-11 01:32] tywalch commented on #142
Hey @asquithea I appreciate the feedback, I agree the library has graduated to the point where a more robust documentation site is in order. I want to say thank you for taking the time to write this out, this is very detailed and helpful to for me to gain the perspective of you and other potentially new users.

On the subject of types, this library aims to own most of the complex typing required t

[2022-08-11 01:35] tywalch commented on #141
@anselm94 Thank you for taking the time to write out this feedback! I'd love to expand the documentation and see something just like this as well. I love the rough structure you laid out and over the next few months I hope to chip away at something like this 👍

[2022-08-12 18:47] asquithea commented on #142
The Pager would be another good candidate - probably along with anything that is likely to need to be passed between methods or stored in a variable.

I looked at the definition for `EntityItem`. At my current level of Typescript experience (only about 6 months) I don't think I'd have been able to come up with that definition on my own, nor easily use the pattern to add more. I think your use of T

[2022-08-12 19:05] asquithea opened #144 "map fields are always initialized to `{}` even when not required and not defined"
**Describe the bug**
Given an entity like this:

[code]

and initialization code like this:

[code]

I had expected only the `tenantName` field to be initialized.
However, `configuration` is initialized to an empty map:

[code]

I was surprised by this behaviour, and it broke a design that assumed the presence or otherwise of this field had meaning (something I can probably work around).

**Electr

[2022-08-12 19:10] asquithea commented on #141
I found [Mkdocs Material](https://squidfunk.github.io/mkdocs-material/) to be powerful and very easy to work with.

In terms of examples, I can offer up [my own attempt at developer docs made for my previous company](https://atlas.mclarenapplied.com/integration/) (sadly already abandoned by the looks of it!)

I ended up including:
- an overview
- explanations of concepts
- tutorials walking throug

[2022-08-13 00:52] tywalch commented on #144
Two items:

1. This is value is added deliberately, could you describe your use case?
2. Your example uses “any” attributes with a map which is currently not supported and could likely result in issues. I had thought the typing and validation did not allow this but I will also need to look into that.

[2022-08-13 08:49] asquithea commented on #144
Sure. In this project, the presence of the attribute is treated like a typical nullable variable:

- if it's there, do the thing
- if it's not there, don't do the thing

Concretely, the attributes represent some semi-structured configuration to be synchronized with a loosely-coupled system.

- `configuration` - currently saved configuration, initially missing
- `requestedConfiguration` - desired s

[2022-08-15 21:50] asquithea commented on #142
Closing - I'll probably stick with plain Document Client for this project.

electrodb looks really cool regardless

[2022-08-15 21:50] #142 closed

[2022-08-30 07:04] jonnedeprez commented on #142
@tywalch To pick up on your proposal: yes, I think exported types for `.page()`  would help. I'm having the same issue. I now defined the pager as `any`.
In any case, I find this library elegantly written and a great improvement compared to working with the native client!

[2022-08-30 11:48] tywalch commented on #142
@asquithea @jonnedeprez i am wrapping up changes to a breaking change (will become 2.0.0) to the return structure of `go()`. The purpose of the breaking change is to unify/simplify pagination across all areas of ElectroDB. This change will:
- deprecate `page()` in favor of extending `go()`
- type the pagination cursor as a `string` (escape hatch to get returned LastEvaluatedKey will remain)

[2022-09-01 03:30] samwiseduzer opened #146 "Model Version is required, even though documentation says it's optional"
My error: Runtime.UnhandledPromiseRejection: ElectroError: instance.model.version is required
The documentation: (optional) The version number of the schema, used to namespace keys

I very desperately do NOT want to namespace on model version and do not want to leverage this feature. However, I can't use this library without doing so.

I would deeply appreciate either:
- a docs update and a featur

[2022-09-01 17:10] tywalch commented on #146
Hey Sam! I understand you're hoping to avoid using ElectroDB's versioning. Are you hoping to use Electro with an existing key schema or a new one (greenfield)?

If you need the former, you can create your own keys with `template` and this will give you full control of your key structure.

If the latter (a greenfield entity) then I would think simply setting the version value and never changing it

[2022-09-01 22:25] samwiseduzer commented on #146
Howdy! Thanks for the quick response!

It is greenfield, and I could definitely just never change the version. You might want to update the documentation to reflect that the version isn’t an optional attribute, however.

[2022-09-02 14:18] tywalch commented on #146
Thank you for find that 👍

[2022-09-14 22:11] aisflat439 opened #148 "Modeling help request"
Hey Tyler.
I looked high and low for this in the README and in `/examples`. It seems like it should be straightforward.

I wanted to model the following:
![image](https://user-images.githubusercontent.com/3719502/190271783-20b55c0b-2557-4e17-b092-10ffc0374bda.png)

Creating the top half of the model was easy. I then applied what I know about creating comments on a post or tickets on a project to `

[2022-09-16 15:48] tywalch commented on #148
I can take a look at this more closely tonight 👍

[2022-09-16 17:44] aisflat439 commented on #148
I think what I need is to create a service to manage the join.

[2022-09-24 20:27] tywalch commented on #148
@aisflat439 I checked out your Playground (thank you for doing that btw, it is very helpful) and it looked like the error was that the `product` entity referenced `warehouseId` as a composite attribute but `warehouseId` was not defined in `attributes`. I changed that, and removed the `export` keywords (the playground doesn't like those right now) and everything is now running just fine:

https://e

[2022-09-25 13:37] #146 closed

[2022-09-25 13:37] tywalch commented on #146
Documentation has been updated

[2022-10-01 02:59] aphex opened #153 "Required CustomAttribute not respected by TypeScript"
**Describe the bug**
When using a required `customAttribute` it is still marked optional as far as TypeScript is concerned. However at runtime this will result in an Error.

**ElectroDB Version**
2.0.0

**ElectroDB Playground Link**
[(if possible) Use the [ElectroDB Playground](https://electrodb.fun) to recreate your issue and supply the link here to help with troubleshooting.](https://electrodb.f

[2022-10-11 07:56] ShivamJoker commented on #99
Got it. Thank you

On Mon, Mar 21, 2022, 11:19 AM Roman ***@***.***> wrote:

[2022-10-20 00:00] dangreaves opened #162 "Attribute validation not invoked when using data update method"
**Describe the bug**
When updating attributes via the `data()` update method, attribute validations are not invoked.

**ElectroDB Version**
`2.1.2`

**Entity/Service Definitions**

Using this entity, note that there is a `validate` method on the `prop1` attribute, which will fail if the attribute does not contain the substring `foo`.

[code]

If we do this, then the validation fails as expected, a

[2022-10-21 16:55] tywalch commented on #162
Thank you! I will look into this this weekend!

[2022-10-25 15:19] DASPRiD commented on #144
@tywalch We ran into the same issue. Is there a reason why this issue was closed? We'd like to have a map object (with required fields in it if it is present) on our entity, but be able to omit the object. Right now, the empty object breaks the Typescript typings.

[2022-10-26 15:48] bestickley opened #164 "docs typo"
Under [Create Record ](https://github.com/tywalch/electrodb#create-record)the docs say:

Should "In ElectroDB, the patch method will utilize..." say "In ElectroDB, the create method will utilize..."?

[2022-10-26 16:36] bestickley opened #165 "Get EntityType from Schema, not Entity"
With my current code I can get the `UserType` with `EntityItem<typeof users>`. My question is how can I get `UserType` from `userSchema`? My use case is I'd like to put `userSchema` and `UserType` into a common package so I can share the `UserType` between backend and frontend code. Thanks!

[code]

[2022-10-26 16:44] bestickley commented on #165
I tried `type UserType = ResponseItem<string, string, string, typeof userSchema>;` but that did not work.

[2022-10-29 15:54] tywalch commented on #165
I'll see what I can shake out here. Note that the type defined by Electro expects the schema to be readonly so that its attribute and index properties don't get widened to be just "string" values.

Just curious, could you go into your use-case for separating your schema definition? Knowing how folks use the library definitely impacts future development

[2022-10-29 19:43] bestickley commented on #165
@tywalch, thanks! My use case is so I can share the UserType between backend and frontend code. I have a /common package where I'd like to export the interface of the UserType and I don't want to have to have the client or table defined in /common. Make sense?

[2022-10-31 13:07] RobbeCl commented on #144
We are having the same issue. We have a few different user types and we store them all in the same User schema. A normal user has an Address map property, but an admin does not. Now the admin ends up with an empty object in the attribute Address and we like it to be undefined.

[2022-10-31 13:22] tywalch commented on #144
Thank you three for bring this up, I will have a fix in this week 👍

[2022-11-01 13:57] bestickley commented on #165
This issue is resolved with now having the ability to not specify entity configuration (second param) until after entity instantiation. See [here](https://electrodb.fun/?#code/PQKgBAsg9gJgpgGzARwK5wE4Es4GcA0YuccYGeqCALgUQBYCG5YA7llXWAGbZwB2MXGBDAAUKKwBbAA5QMVMAG8wAUT5V2AT0IBlTADcsAY1IBfbhiiSwAIkRwjVSzABGNgNzjxRqH1wKqBlwAazAAXjA+OBZVdS0ACkVRMDBJWEQALiVklLB+DSpNLJtAkJt8HJT9TFwsX2KARnLKogNjOGLS4IZpaR

[2022-11-01 13:57] #165 closed

[2022-11-01 14:09] bestickley opened #167 "Feature Request: Helper Type to Extract Entity Types from Schema object"
Given the following schema I'd like to have a helper types that's exported from `electrodb` that allows me to extract types so that I can use them in my frontend:
[code]

Requested types: `Getable`, `Putable`, `Updateable`.

Inspiration from [kysely](https://github.com/koskimas/kysely):
[code]

Earlier issue: #165

[2022-11-02 18:29] tywalch commented on #162
As a follow up, I'm hoping to get a change for this merged soon 👍

[2022-11-03 02:19] tywalch commented on #164
Fixed!

[2022-11-03 02:19] #164 closed

[2022-11-03 02:33] tywalch commented on #144
This was addressed with the following PR: https://github.com/tywalch/electrodb/pull/168

I'll close this issue for now, but if anything comes up feel free to reopen and I'll make it a priority to address 👍

[2022-11-03 02:33] #144 closed

[2022-11-04 16:53] tywalch commented on #153
I have found a good alternative approach for custom attributes and will be updating the library soon.

[2022-11-05 17:54] #153 closed

[2022-11-06 18:23] #162 closed

[2022-11-10 00:40] tywalch opened #172 "The where clause improperly handles the state of nested properties"
**Describe the bug**
The where clause improperly handles the state of nested properties

**ElectroDB Version**
Specify the version of ElectroDB you are using
(e.g. `2.2.4`)

**ElectroDB Playground Link**
https://electrodb.fun/?#code/PQKgBAsg9gJgpgGzARwK5wE4Es4GcA0YuccYGeqCALgUQBYCG5YA7llXWAGbZwB2MXGBDAAUKKwBbAA5QMVMAG8wAUT5V2AT0IBlTADcsAY1IBfbhiiSwAIkRwjVSzABGNgNzijUPrgVUGFwRSAF5bTShUDAB9AKC4aL4GS

[2022-11-10 00:58] #172 closed

[2022-11-12 19:26] ari-becker opened #175 "[Feature Request] attributes of 'number' type, enumerated 'as const'."
An example is easiest to explain:

[code]

This would allow specifying the field as a `number`, with improved type safety (compared to using a validate method alone), while keeping numerical sorting.

[2022-11-12 21:47] tywalch commented on #175
For this, I would recommend use of CustomAttributeType to accomplish this -- would that work in your case? I'd imagine given your example it'd be able to accomplish your needs and has the benefit of already being available.

My hesitancy around numeric enums is that Electro can't really enforce what values could end up in the table, when you consider atomic mutations like add and subtract, etc. A

[2022-11-13 07:19] ari-becker commented on #175
Got it. The following seems (at first glance) to work:

[code]

although, for what it's worth, putting an invalid value in for the default (e.g. `6`) doesn't cause a type error.

[2022-11-13 22:53] tywalch commented on #175
Could it your version of TypeScript? Here is an example in the playground, which uses the latest version of TypeScript:

https://electrodb.fun/?#code/PQKgBAsg9gJgpgGzARwK5wE4Es4GcA0YuccYGeqCALgUQBYCG5YA7llXWAGbZwB2MXGBDAAUKKwBbAA5QMVMAG8wAUT5V2AT0IBlTADcsAYziEAwqlxUokgIJUq2AEaoqcACqbppAL7cMNmAARIhwRo6wTkEA3OJGUHxWYFQMTgikALzBmlCoGAD6KWlw+XwMknAx4qBg7gy4ANZCahpUmsJi8YkKKY1CWXxwLKrqWgAUomBKk1NgkrCIA

[2022-11-13 23:51] remosewa opened #176 "Incorrect validation using partition key as sort key in GSI"
**Describe the bug**
I have an error I'm getting which I don't quite understand. I have the following dynamoDB with a GSI and a primary index. I try to represent this in electrodb with the following setup:
[code]

I get the following error though:
Runtime.UnhandledPromiseRejection: ElectroError: The Sort Key (sk) on Access Pattern 'listingToAssets' references the field 'listingId' which is already

[2022-11-17 14:18] squio commented on #148
Just to chime in ... this is actually very helpful for me getting started with M2M relations, maybe this should be part of the documentation some time?

Also a question: I have almost the same situation BUT need to query on `warehouseId` to retrieve a single `warehouse` so I swapped the `sk` and `pk` as in this snippet:

[code]
And then the very basic function:

[code]
Now my question: is this ind

[2022-11-17 16:01] tobyspark opened #177 "[Feature Request] Required container attributes can have empty values"
Modelling empty lists and sets by omitting the property is understandable from a storage perspective, but adds overhead to the business logic consuming the objects. As a modelling layer over DynamoDB, ElectroDB could abstract this storage requirement away.

Feature Request – The `required` property of list and set attributes should allow empty sets and lists, marshalling to and from null behind th

[2022-11-22 12:17] g-farrow opened #179 "BatchGet returns zero reults"
**Describe the bug**
Performing a `.get({table: "TABLE_NAME"})` on a Model, when passing the table name in as an option does not return any results:

[code]

I have debugged the code and I can see that the DynamoDB Doc Client does return results - however Electro does not surface those results back to the application code.

When I run in debug mode I can see that the code in `entity.js:571` is not

[2022-11-22 22:39] tywalch commented on #179
Thank you for opening this Greg, I will take a look soon!

[2022-11-28 12:17] dangreaves opened #182 "Missing composite attributes error when using patch + delete"
**Describe the bug**

When using the `patch` method in combination with the `delete` operation, ElectroDB throws the "Incomplete or invalid key composite attributes supplied" error, despite all index attributes being provided, and the same parameters working correctly when passed to the `update` method instead.

[code]

**ElectroDB Version**

[code]

**ElectroDB Playground Link**

https://codesand

[2022-11-28 12:39] tywalch commented on #182
I see the issue, this will be a quick fix, thank you 👍

[2022-11-29 09:35] tywalch commented on #182
This is fix is in 👍

[2022-11-29 09:35] #182 closed

[2022-11-29 10:52] dangreaves commented on #182
Confirmed that's working for me now. Thanks @tywalch 🎉

[2022-11-30 21:47] brettneese opened #184 ""Property x is missing in type" Typescript error when using setters to set properties that are in composite keys"
**Describe the bug**
Given this minimal [example gist](https://gist.github.com/brettneese/b1106e593485af68940b5ed515f6785b) that reproduces this error, I would expect that I should be able to create new items and autogenerate the `id` at the entity level.

Instead, I get a Typescript error:

![image](https://user-images.githubusercontent.com/504279/204916503-f2bf7c0d-cd3d-466b-8fc7-f1ce0e225e70.pn